<div style="height: 56px"></div>
<header class="row" style="height: 200px; background-color: aqua">
  <img src="assets/images/logo.PNG" style="height: 100%; width: 20%">
  <img src="assets/images/header.png" style="height: 100%; width: 80%">
</header>
<div class="row" style="background-color: #dedede; height: 500px; margin-top: 5px">
  <aside class="col-2 bg-danger" style="height: 500px">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info"><h4>Category</h4></li>
      <li class="list-group-item list-group-item-action"><a>Category</a></li>
      <li class="list-group-item list-group-item-action"><a>Category</a></li>
      <li class="list-group-item list-group-item-action"><a>Category</a></li>
      <li class="list-group-item list-group-item-action"><a>Category</a></li>
      <li class="list-group-item list-group-item-action"><a>Category</a></li>
    </ul>
  </aside>
  <article class="col-10 bg-info" style="height: 500px">
    <div class="row">
      <div class="col-6" style="height: 500px; background-color: #a7deba">

      </div>
      <div class="col-6" style="height: 500px; background-color: #b588de">

      </div>
    </div>
  </article>
</div>
<div class="row" style="background-color: #bafcff">
  <router-outlet></router-outlet>
</div>
