<div class="col-6 offset-3">
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> You have created a new publishing
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="create new publishing" (click)="message = !message">
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="back to publishing list" routerLink="/publishing-list">
    </div>
  </div>
  <form
    *ngIf="!message"
    name="form"
    [formGroup]="publishingForm"
    (ngSubmit)="publishingForm.valid && onSubmit()">


    <div class="form-group">
      <label>Publishing name</label>
      <input type="text" class="form-control" formControlName="name">
      <div class="alert-danger" *ngIf="publishingForm.get('name').invalid && publishingForm.get('name').touched"
           style="color: red">
        Publishing name must be at least 1 characters
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">Create</button>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Cancel" routerLink="/publishing-list">
    </div>
  </form>
</div>
