<div class="container">
  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h1>Vũ Đại Book</h1>
    <hr style="margin-left: 5px">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="m-3 " align="center">
          <img src="../../../../assets/images/Cánh cửa bước vào tâm hồn.png" class="main1" style="width: 100%; height: 400px">
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Tất cả vì tri thức nhân loại</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">Đôi điều về sách</p>
        <p class="text-center">Sách là sản phẩm tinh thần, đồng thời là sản phẩm vật chất do lao động của con người sáng tạo nên, là nhân tố quan trọng để thúc đẩy xã hội phát triển.
          Sách giúp tăng trí tuệ và nâng cao sự hiểu biết của con người. Càng đọc sách chúng ta càng nhận ra được kiến thức của mình còn hạn hẹp và phải bổ sung nhiều hơn nữa. “ Học. Học nữa. Học mãi” như Lê nin đã từng nói. Có ai đó đã nói rằng:
          Tôi tìm được những điều thú vị và bổ ích từ sách mà trong cuộc sống tôi không hề có được. Thời gian không ngừng trôi, kiến thức có thể bị con người lãng quên theo năm tháng. Nhưng nó vẫn đọng lại trên từng câu chữ trong quyển sách.</p>
        <p class="text-center">Người ta nói đằng sau sự thành đạt của người đàn ông, không thể thiếu bóng dáng người phụ nữ. Còn tôi tin rằng đằng sau sự thành công của bất kì ai, là ít nhất một cuốn sách, nếu không muốn nói là cả một tủ sách.
          10 câu nói hay về đọc sách trong web của chúng tôi này, sẽ giúp bạn thêm yêu sách, đọc sách và… mua sách.</p>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Châm ngôn, khẩu hiệu </h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">"10 câu nói hay bạn lên biết khi nói về sách"</p>
        <p class="text-center">Thích đọc sách tức là biết đánh đổi những giờ phút buồn tẻ không thể tránh được trong cuộc đời lấy những giờ phút lý thú.</p>
        <p class="text-center"> "Hiện nay chúng ta đang ba hoa về sự cô đơn toàn cầu của nhân loại. Làm thế nào để vượt qua điều đó? Chỉ có đọc sách! Chỉ cuốn sách mới "trò chuyện" với con người không mang tính chất hình thức, mà là một cách tâm tình, khuyên bảo và cung cấp những định hướng cần thiết. Trong sách có những bí mật của đạo đức - quy tắc của lương tâm..."</p>
        <p class="text-center">Cuốn sách tốt nhất cho bạn là cuốn sách nói nhiều nhất với bạn vào lúc bạn đọc nó. Tôi không nói tới cuốn sách cho bạn nhiều bài học nhất mà là cuốn sách nuôi dưỡng tâm hồn bạn. Và điều đó phụ thuộc vào tuổi tác, trải nghiệm, nhu cầu về tâm lý và tinh thần</p>
        <p class="text-center"> Một cuốn sách thực sự hay nên đọc trong tuổi trẻ, rồi đọc lại khi đã trưởng thành, và một nữa lúc tuổi già, giống như một tòa nhà đẹp nên được chiêm ngưỡng trong ánh bình minh, nắng trưa và ánh trăng.</p>
        <p class="text-center">Bạn biết rằng bạn đã đọc một cuốn sách hay khi bạn giở đến trang cuối cùng và cảm thấy như mình vừa chia tay một người bạn.</p>
        <p class="text-center"> Điều khiến làm tình yêu và đọc sách giống nhau nhất chính là việc trong chúng, thời gian và không gian rộng mở, khác biệt với thời gian và không gian có thể đo đếm được.</p>
        <p class="text-center"> Ngôi nhà không có sách là ngôi nhà nghèo nàn, thậm chí dù sàn nhà được trải toàn thảm đẹp và trên tường dán giấy trải tường và treo tranh quý giá.</p>
        <p class="text-center">Có lẽ người ta đúng khi đưa tình yêu vào trong sách... Có lẽ nó không thể sống ở bất cứ nơi nào khác.</p>
        <p class="text-center">Cuộc đời ta thay đổi theo hai cách: qua những người ta gặp và qua những cuốn sách ta đọc.</p>
        <p class="text-center"> Một cuốn sách dù dở đến đâu ta cũng thu lượm được vài điều đặc biệt của nó.</p>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Ai cũng cần tiền để sống ư ?</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">Ai cũng có sách để đọc</p>
        <p class="text-center">Đúng ai cũng cần chi phí cho cuộc sống , chúng tôi cũng vậy,không bán sách vì đam mê cũng vì mưu sinh cho cuộc sống cả thôi :)</p>
        <p class="text-center">Nhưng điều chúng tôi mong muốn nhất là ai cũng có thể tiếp cận được những cuốn sách hay, về tình yêu, cuộc sống, hay đơn giản là những mặt tích cực giúp mọi người lạc quan, bỏ muộn phiền </p>
        <p class="text-center">Hãy lên web của chúng tôi vào Chủ nhật 2 tuần 1 lần để mua sách với giá 0 VNĐ, hoặc hãy đến địa điểm chúng tôi phát sách miễn phí, địa điểm sẽ được thông báo trên Web. Hãy chia sẻ cho mọi người cùng biết</p>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Vũ Đại Book . Kẻ mang tri thức , đem yêu thương lan toả</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">Welcome to Heaven</p>
        <p class="text-center">Chỉ cần bạn hạnh phúc,hài lòng là giá trị cốt lõi đối với chúng tôi rồi <3</p>
        <p class="text-center">Bạn chỉ cần trao chúng tôi niềm tin, sự tin tưởng. Chúng tôi đem lại cho bạn những tuyệt vời mà bạn đáng được nhận</p>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h3>Team bán sách dạo</h3>
    <hr style="margin-left: 5px">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../../../assets/images/anhquy.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Co-founder VũĐạiBook</h3>
            <label>Name:</label>
            <p>Lương Văn Quý aka Lão Hạc</p>
            <label>Description:</label>
            <p>Tât cả đều dừng lại khi đi chơi với bạn bình thường</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../../../assets/images/tui.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Cũng là Co-founder VũĐạiBook nhưng nhàn hơn :v</h3>
            <label>Name:</label>
            <p>Đặng Thiên Hoàng </p>
            <label>Description:</label>
            <p>Con người siêu cute nhất thế kỉ :v</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../../../assets/images/cauvang.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Mang sách đi bán dạo</h3>
            <label>Name:</label>
            <p>Đặng Bá Hậu aka Cậu Vàng</p>
            <label>Description:</label>
            <p>Gâu gâu gâu gâu gâu gâu gâu gâu gâu gâu gâu gâu gâu gâu</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Shipper</h3>
            <label>Name:</label>
            <p>Nguyễn Văn Kiên</p>
            <label>Description:</label>
            <p>người mới</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
