<h2>Order list</h2>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Status</a>
    <a class="dropdown-item" href="#">Latest</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <app-user-order-list [orderList]="orderList"></app-user-order-list>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <app-user-order-list [orderList]="orderList"></app-user-order-list>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <app-user-order-list [orderList]="orderList"></app-user-order-list>
  </div>
</div>




<!--<table class="table table-hover border">-->
<!--  <thead>-->
<!--  <tr class="table-bordered">-->
<!--    <th>Order code</th>-->
<!--    <th>Total price</th>-->
<!--    <th>Date order</th>-->
<!--    <th>Status</th>-->
<!--    <th>Delete</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tr *ngFor="let order of orderList" class="table-bordered">-->
<!--    <td *ngIf="order.status != 'normal'">{{ order.id }}</td>-->
<!--    <td *ngIf="order.status != 'normal'">{{order.total}}</td>-->
<!--    <td *ngIf="order.status != 'normal'">{{order.date}}</td>-->
<!--    <td *ngIf="order.status != 'normal'">{{order.status}}</td>-->
<!--    <td *ngIf="order.status!='normal'">-->
<!--      <div *ngIf="order.status=='order'">-->
<!--        <input class="btn btn-info btn-block" data-toggle="modal" [attr.data-target]="'#deleteOrder' + order.id"-->
<!--               value="Delete">-->

<!--        <div [id]="'deleteOrder'+ order.id" class="modal" tabindex="-1" role="dialog">-->
<!--          <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--              <div class="modal-header">-->
<!--                <h5 class="modal-title">Vũ Đại Village </h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                  <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--              </div>-->
<!--              <div class="modal-body">-->
<!--                <p>Are you sure delete this order?</p>-->
<!--              </div>-->
<!--              <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>-->
<!--                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteOrder(order.id)">Ok-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->
