<h2>Book list</h2>
<p><a routerLink="/book-create">Create new Book</a></p>
<table class="table table-hover border">
  <thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tr *ngFor="let book of bookList">
    <td><a [routerLink]="['/book-detail',book.id]">{{book.id}}</a></td>
    <td><a [routerLink]="['/book-detail',book.id]">{{book.name}}</a></td>
    <td>{{book.price | currency: "VND" : "đ "}}</td>
    <td>{{book.amount}}</td>
    <td><a [routerLink]="['/book-edit',book.id]">Edit</a></td>
    <td><a [routerLink]="['/book-delete',book.id]">Delete</a></td>
  </tr>
</table>
