<!-- Footer -->
<footer class="pt-5 pb-4" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-1">
        <h5 class="mb-4 font-weight-bold">Thông tin về chúng tôi</h5>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-map-marker"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Địa chỉ:</h6>
                <p>Chúng tôi sống vất vơ trên mạng không có địa chỉ cụ thể</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-1">
        <h5 class="mb-4 font-weight-bold">Hội đồng ban cốt cán làng</h5>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-facebook-f"></i></div>
              <div class="col-10">
                <p class="mb-0"><a href="https://www.facebook.com/profile.php?id=100026689658087">@Chị Dậu </a> </p>
                <label>Hội trưởng hội phụ nữ</label>
                <label>Số tôi mất điện, đã thế còn bị tắt đèn</label>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-1">
        <h5 class="mb-4 font-weight-bold">Thông tin cập nhật</h5>
        <ul class="recent-post">
          <li>
            <label class="mr-3">3 <br><span>FEB</span></label>
            <span>Chúng tôi mang đến bản cập nhật không khác gì bản cũ</span>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-1">
        <h5 class="mb-4 font-weight-bold">KẾT NỐI VỚI CHÚNG TÔI</h5>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Your Email Address">
          <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
        </div>
        <ul class="social-pet mt-4">
          <li><a href="#" title="facebook"><i class="fa fa-facebook-official"></i></a></li>
          <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" title="instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-envelope"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold md-0">Nếu thắc mắc hãy tự giác liên hệ theo mail sau. Khi có mạng internet chúng tôi sẽ trả lời bạn OK.</h6>
                <p><a href="#">vudaibookvn@vutru.com</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-phone"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Số điện thoại liên hệ:</h6>
                <p><a href="#">+84-374-686-525</a></p>
                <p>Vui lòng không nháy máy Lão Hạc rất cục tính, chúng tôi không chịu trách nhiệm</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-facebook-f"></i></div>
              <div class="col-10">
                <p class="mb-0"><a href="https://www.facebook.com/profile.php?id=100045314345814">@Lão Hạc </a> </p>
                <label>Trưởng bản</label>
                <label>Hạc đại phú ( sau khi bán Cậu Vàng với giá 5k $ )</label>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-facebook-f"></i></div>
              <div class="col-10">
                <p class="mb-0"><a href="https://www.facebook.com/chipheolangvudaicrysmile/?ref=br_rs">@Anh Chí </a> </p>
                <label>Trưởng ban tiếp rượu</label>
                <label>Cuộc đời anh như 1 nốt nhạc trầm, nhưng gặp chị Nở vẫn quẩy được</label>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9265632482125!2d105.76612681472474!3d21.03562419292038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b9444c676b%3A0xe713200541b7456d!2sCodeGym!5e0!3m2!1svi!2s!4v1581324733733!5m2!1svi!2s" width="600" height="240" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>


    </div>
  </div>
</footer>
<!-- Copyright -->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="text-center text-white">
          &copy; 2020 Vũ Đại Book
        </div>
      </div>
    </div>
  </div>
</section>
