<h2>Category Delete</h2>
<div class="col-6 offset-3" *ngIf="category">
  <table class="table">
    <tr>
      <td>Name:</td>
      <td>{{category.name}}</td>
    </tr>
  </table>
  <input class="btn btn-primary btn-block" value="Delete book" data-toggle="modal" data-target="#exampleModal">
  <input class="btn btn-primary btn-block" value="Back to book list" routerLink="/category-list">

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Vũ Đại Village</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure delete this category ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="deleteCategory(category.id)" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
