<div class="col-8 offset-2" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <img id="profile-img"
       src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
       class="profile-img-card"/>
  <table class="table">
    <tr>
      <td><strong>Name:</strong></td>
      <td>{{currentUser.username}}</td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td>{{currentUser.email}}</td>
    </tr>
    <tr>
      <td><strong>Address:</strong></td>
      <td>{{currentUser.address}}</td>
    </tr>
    <tr>
      <td><strong>Phone:</strong></td>
      <td>{{currentUser.phone}}</td>
    </tr>
    <tr>
      <td><strong>Token:</strong></td>
      <td>
        {{ currentUser.accessToken.substring(0, 20) }} ...
        {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
      </td>
    </tr>

    <tr>
      <td>
        <strong>Roles:</strong>
      </td>
      <td>
        <ul>
          <li *ngFor="let role of currentUser.roles">
            {{ role }}
          </li>
        </ul>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary btn-block">Edit information</button>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
