<div class="container">
  <div class="col-md-6 offset-3 mb-3">
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <img [src]="[book.bookPictures[0].src]" class="profile-img-card offset-3" style="width: 25%"/>
    <div class="col-12 col-sm-5 col-md-5">
      <h2>Thông tin chi tiết</h2>

      <hr/>
      <div *ngIf="book">
        <div>
          <label><b>Name : </b></label> {{book.name}}
        </div>
        <div>
          <label><b>Price : </b></label> {{book.price}}
        </div>
        <div>
          <label><b>Description : </b></label> {{book.description}}
        </div>
        <div>
          <label><b>Amount : </b></label> {{book.amount}}
        </div>
        <div>
          <label><b>Authors : </b></label>
          <div *ngFor="let author of book.authors">{{author.name}}</div>
        </div>
        <div>
          <label><b>Publishing : </b></label> {{book.publishing.name}}
        </div>
        <div>
          <label><b>Category: </b></label> {{book.category.name}}
        </div>
        <div>
          <label><b>Languages : </b></label>
          <div *ngFor="let language of book.languages">{{language.name}}</div>
        </div>
      </div>

      <br>
<!--      <br>-->
<!--      <div class="mb-0">-->
<!--        <button type="button"-->
<!--                class="btn btn-outline-primary mr-2"-->
<!--                (click)="addProductToCart(product, 1)">Thêm vào giỏ-->
<!--        </button>-->
<!--        <button type="button"-->
<!--                class="btn btn-outline-danger"-->
<!--                *ngIf="productInCart(product) | async"-->
<!--                (click)="removeProductFromCart(product, 1)">Xóa sản phẩm này-->
<!--        </button>-->
<!--      </div>-->

    </div>
  </div>
</div>
