<!--<div class="container">-->
<!--  <div class="col-md-6 offset-3 mb-3">-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <div class="row mb-5">-->
<!--    <img [src]="[book.bookPictures[0].src]" class="profile-img-card offset-3" style="width: 25%" style = "height: 500px"/>-->
<!--    <div class="col-12 col-sm-5 col-md-5 offset-3">-->
<!--        <div class="row ">-->
<!--        <div class=" " *ngFor="let image of book.bookPictures,  index as i">-->
<!--          <img src="{{image.src}}" width="80px" height="150px">-->
<!--          &nbsp;-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--      <h2>Thông tin chi tiết</h2>-->

<!--      <hr/>-->
<!--      <div *ngIf="book">-->
<!--        <div>-->
<!--          <label><b>Name : </b></label> {{book.name}}-->
<!--        </div>-->
<!--        <div>-->
<!--          <label><b>Price : </b></label> {{book.price}}-->
<!--        </div>-->
<!--        <div>-->
<!--          <label><b>Description : </b></label> {{book.description}}-->
<!--        </div>-->
<!--        <div>-->
<!--          <label><b>Amount : </b></label> {{book.amount}}-->
<!--        </div>-->
<!--        <div>-->
<!--          <label><b>Authors : </b></label>-->
<!--          <div *ngFor="let author of book.authors">{{author.name}}</div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label><b>Publishing : </b></label> {{book.publishing.name}}-->
<!--        </div>-->
<!--        <div>-->
<!--          <label><b>Category: </b></label> {{book.category.name}}-->
<!--        </div>-->
<!--        <div>-->
<!--          <label><b>Languages : </b></label>-->
<!--          <div *ngFor="let language of book.languages">{{language.name}}</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      </div>-->

<!--      <br>-->
<!--      <br>-->
<!--      <div class="mb-0">-->
<!--        <button type="button"-->
<!--                class="btn btn-outline-primary mr-2"-->
<!--                (click)="addCart(book, 1)">Thêm vào giỏ-->
<!--        </button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container" *ngIf="book.bookPictures">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-md-12" align="center">
          <img [src]="[book.bookPictures[0].src]" width="250px"/>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-md-3" *ngFor="let image of book.bookPictures,  index as i">
          <img  *ngIf="i<4" src="{{image.src}}" width="80px" height="100px">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h2>Thông tin chi tiết</h2>
        <hr/>
        <div>
          <label><b>Name : </b></label> {{book.name}}
        </div>
        <div>
          <label><b>Price : </b></label> {{book.price}}
        </div>
        <div>
          <label><b>Description : </b></label> {{book.description}}
        </div>
        <div>
          <label><b>Amount : </b></label> {{book.amount}}
        </div>
        <div>
          <label><b>Authors : </b></label>
          <div *ngFor="let author of book.authors">{{author.name}}</div>
        </div>
        <div>
          <label><b>Publishing : </b></label> {{book.publishing.name}}
        </div>
        <div>
          <label><b>Category: </b></label> {{book.category.name}}
        </div>
        <div>
          <label><b>Languages : </b></label>
          <div *ngFor="let language of book.languages">{{language.name}}</div>
        </div>
      </div>
      <div class="mb-0">
        <button type="button"
                class="btn btn-outline-primary mr-2"
                (click)="addCart(book, 1)">Thêm vào giỏ
        </button>
      </div>
      </div>
    </div>
  </div>
