#container{
  width: 100%;
  height: 100%;
  font-family: cursive;
  font-size: 15px;
  color: #222222;
}
.carousel-inner img{
  width: 100%;
}
.carousel-caption{
  position: absolute;
  top: 40%;
}
.carousel-caption h1{
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 5px 5px 15px black;
}
.carousel-caption h3{
  font-size: 150%;
  text-shadow: 2px 2px 10px black;
}
.carousel-caption .btn{
  font-size: 120%;
}
.btn-primary{
  background-color: blue;
}
.btn-primary:hover{
  background-color: blue;
  border: 1px solid white;
}
.welcome hr{
  border-top: 2px solid black;
  width: 10%;
  margin-bottom: 2rem;
}
.new{
  width: 100%;
}
h4,p.card{
  text-align: center;
  margin: auto;
}
.card a{
  background-color: deepskyblue;
  text-align: center;
  padding: auto;
  display: inline-block;
}
.card a:hover{
  background-color: black;
}
.card img{
  height: 400px;
  width: 100%;
}
footer{
  background-color: deepskyblue;
  color: pink;
}
hr.light{
  border-top: 1px solid gray();
  width: 75%;
}
.light-100{
  border-top: 1px solid gray();
  width: 96%;
}
