<table class="table table-hover border">
  <thead>
  <tr class="table-bordered">
    <th>Order code</th>
    <th>User ID</th>
    <th>User Name</th>
    <th>Total price</th>
    <th>Date order</th>
    <th>Status</th>
    <th>Change status</th>
    <th>Cancel</th>
  </tr>
  </thead>
  <tr *ngFor="let order of orderList" class="table-bordered">
    <td *ngIf="order.status != 'normal'"><a [routerLink]="['/order-detail', order.id]">{{ order.id }}</a></td>
    <td *ngIf="order.status != 'normal'"><a [routerLink]="['/order-detail', order.id]">
      <div *ngIf="order.user">
        {{order.user.id}}
      </div>
      <div *ngIf="!order.user">
        Guest
      </div></a>
    </td>
    <td *ngIf="order.status != 'normal'"><a [routerLink]="['/order-detail', order.id]">
      <div *ngIf="order.user">
        {{order.user.username}}
      </div>
      <div *ngIf="!order.user">
        Guest
      </div></a>
    </td>
    <td *ngIf="order.status != 'normal'">{{order.total}}</td>
    <td *ngIf="order.status != 'normal'">{{order.date}}</td>
    <td *ngIf="order.status != 'normal'">{{order.status}}</td>
    <td *ngIf="order.status != 'normal'">
      <div *ngIf="order.status=='order'">
        <input class="btn btn-info btn-block" value="Accept" (click)="changeToProcessing(order.id)">
      </div>
      <div *ngIf="order.status=='processing'">
        <input class="btn btn-info btn-block" value="Done" (click)="changeToDone(order.id)">
      </div>
    </td>
    <td *ngIf="order.status!='normal'">
      <div *ngIf="order.status!='Done' && order.status!='Cancel'">
        <input class="btn btn-info btn-block" data-toggle="modal" [attr.data-target]="'#deleteOrder' + order.id" value="Cancel">

        <div [id]="'deleteOrder'+ order.id" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Vũ Đại Village </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure cancel this order?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeToCancel(order.id)">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
