<div class="col-6 offset-3">
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> You have edit a category
    </div>
    <div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" value="Back ti category list" routerLink="/category-list">
      </div>
    </div>
  </div>
  <form *ngIf="!message" name="form" [formGroup]="categoryForm" (ngSubmit)="categoryForm.valid && onSubmit()" novalidate>
    <div class="form-group">
      <label>Category name</label>
      <input type="text" class="form-control" formControlName="name"/>
      <div class="alert-danger" *ngIf="categoryForm.get('name').invalid && categoryForm.get('name').touched" style="color: aqua">
        Category name must be at least 1 characters
      </div>
    </div>
    <div class="form-group">
      <label>Book</label>
      <input type="text" class="form-control" formControlName="book"/>
      <div class="alert-danger" *ngIf="categoryForm.get('book').invalid && categoryForm.get('book').touched" style="color: aqua">
        Book name must be at least 1 characters
      </div>
    </div>
    <div class="form-control">
      <button class="btn btn-primary btn-block">Save</button>
    </div><div class="form-control">
      <button class="btn btn-primary btn-block">Cancel</button>
    </div>
  </form>
</div>
