<div id="app" style="background-color: #efefef">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top p-1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

      <div class="nav-item dropdown">
        <div class="nav-link dropdown-toggle dropbtn" id="navbarDropdown1" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
          <a href="/home" routerLink="home">Menu</a>
        </div>
        <div class="dropdown-content">
          <a routerLink="/book-public">All books</a>
          <a routerLink="/book-new">Book new</a>
          <a routerLink="/book-hot">Book hot</a>
          <a routerLink="/book-favorite">Book favorite</a>

          <div class="dropdown-divider"></div>
          <div class="dropdown-2">
            <a>Book price</a>
            <div class="dropdown-content-2">
              <a routerLink="/book-price/1">0 đ  - 100.000 đ</a>
              <a routerLink="/book-price/2">100.000 đ - 200.000 đ</a>
              <a routerLink="/book-price/3">200.000 đ - 300.000 đ</a>
              <a routerLink="/book-price/4"> > 300.000</a>
            </div>
          </div>

          <div class="dropdown-divider"></div>
          <div class="dropdown-2">
            <a>Category</a>
            <div class="dropdown-content-2">
              <div *ngFor="let c of categoryList">
                <a [routerLink]="['/book-category', c.id]">{{c.name}}</a>
              </div>
            </div>
          </div>

          <div class="dropdown-2">
            <a>Language</a>
            <div class="dropdown-content-2">
              <div *ngFor="let l of languageList">
                <a [routerLink]="['/book-language', l.id]">{{l.name}}</a>
              </div>
            </div>
          </div>

          <div class="dropdown-2">
            <a>Publishing</a>
            <div class="dropdown-content-2">
              <div *ngFor="let p of publishingList">
                <a [routerLink]="['/book-publishing', p.id]">{{p.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>

        <li>
          <a href="/about-us" class="nav-link" routerLink="about-us">About Us</a>
        </li>

        <li class="nav-item" *ngIf="showAdminBoard">
          <div class="nav-item dropdown">
            <div class="nav-link dropdown-toggle dropbtn" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
              Admin board
            </div>
            <div class="dropdown-content">

              <div class="dropdown-2">
                <a routerLink="/order-manager">Order manager</a>
              </div>

              <div class="dropdown-divider"></div>

              <div class="dropdown-2">
                <a>Book</a>
                <div class="dropdown-content-2">
                  <a routerLink="/book-list">List</a>
                  <a routerLink="/book-create">Create</a>
                </div>
              </div>

              <div class="dropdown-2">
                <a>Author</a>
                <div class="dropdown-content-2">
                  <a routerLink="/author-list">List</a>
                  <a routerLink="/author-create">Create</a>
                </div>
              </div>

              <div class="dropdown-2">
                <a>Category</a>
                <div class="dropdown-content-2">
                  <a routerLink="/category-list">List</a>
                  <a routerLink="/category-create">Create</a>
                </div>
              </div>

              <div class="dropdown-2">
                <a>Language</a>
                <div class="dropdown-content-2">
                  <a routerLink="/language-list">List</a>
                  <a routerLink="/language-create">Create</a>
                </div>
              </div>

              <div class="dropdown-2">
                <a>Publishing</a>
                <div class="dropdown-content-2">
                  <a routerLink="/publishing-list">List</a>
                  <a routerLink="/publishing-create">Create</a>
                </div>
              </div>

            </div>
          </div>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
      </ul>


      <ul class="navbar-nav ml-auto">
        <app-search></app-search>
        <div *ngIf="!showAdminBoard">
        <app-cart></app-cart>
        </div>
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a routerLink="/register" class="nav-link">Sign Up</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">Login</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownProfile" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">{{ username }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownProfile" style="left: -50px">
              <a class="dropdown-item" style="color: #111111" routerLink="/profile">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: #111111" routerLink="/change-password">Change password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: #111111" routerLink="/order-list">Order list</a>
            </div>

          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </ul>
    </div>
  </nav>
</div>
<div style=" height: 48px"></div>

