
<div class="modal-backdrop">
  <div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
      <div class="modal-content">
        <div class="col-12 user-img">
        </div>
        <div class="col-12 form-input">
          <form class="form-control1"   *ngIf="!isLoggedIn"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <i class="fa fa-user searchIcon1" ></i>
              <input type="email" class="form-control search1" name="username"
                     [(ngModel)]="form.username" required #username="ngModel"
                     placeholder="nhập email ">
              <div class="alert alert-danger"  role="alert" *ngIf="f.submitted && username.invalid">
                Tài khoản không được để trống
              </div>
            </div>
            <div class="form-group">
              <i class="fa fa-unlock-alt searchIcon2"></i>
              <input type="password" class="form-control search2"  name="password"
                     [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                     placeholder="nhập mật khẩu" >
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Mật khẩu không được để trống</div>
                <div *ngIf="password.errors.minlength">
                  Mật khẩu tối thiểu 6 ký tự
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success" style="width: 150px">Đăng nhập</button>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isLoginFailed"
              >
                Đăng nhập thất bại: {{ errorMessage }}
              </div>
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isLoggedIn">
            Bạn đã đăng nhập với quyền {{ roles }}.
          </div>
        </div>
        <div class="col-12 forgot">
          <a href="#">Back to home</a>
        </div>
        <div class="col-12 forgot">
          <a href="http://localhost4200/register">Tạo tài khoản mới</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop">

  <div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
      <div class="modal-content">
        <div class="col-12 user-img">


        </div>
        <div class="col-12 form-input">
          <form class="form-control1"   *ngIf="!isLoggedIn"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <i class="fa fa-user searchIcon1" ></i>
              <input type="email" class="form-control search1" name="username"
                     [(ngModel)]="form.username" required #username="ngModel"
                     placeholder="enter the email">
              <div class="alert alert-danger"  role="alert" *ngIf="f.submitted && username.invalid">
                Tài khoản không được để trống
              </div>
            </div>
            <div class="form-group">
              <i class="fa fa-unlock-alt searchIcon2"></i>
              <input type="password" class="form-control search2"  name="password"
                     [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                     placeholder="enter the password" >
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Mật khẩu không được để trống</div>
                <div *ngIf="password.errors.minlength">
                  Mật khẩu tối thiểu 6 ký tự
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success" style="width: 150px">Đăng nhập</button>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isLoginFailed"
              >
                Đăng nhập thất bại: {{ errorMessage }}
              </div>
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isLoggedIn">
            Bạn đã đăng nhập với quyền {{ roles }}.
          </div>
        </div>
        <div class="col-12 forgot">
          <a href="#">Back to home</a>
        </div>
        <div class="col-12 forgot">
          <a href="http://localhost4200/register">Tạo tài khoản mới</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="modal-backdrop">

  <div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
      <div class="modal-content ">
        <div class="user-img ">
          <img src="../../../assets/images/avatalogin.jpg" class="rounded-circle">
        </div>
        <div class="col-12 form-input">
          <form class="form-control1"   *ngIf="!isLoggedIn"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <i class="fa fa-user-circle searchIcon1" ></i>
              <input type="email" class="form-control search1" name="username"
                     [(ngModel)]="form.username" required #username="ngModel"
                     placeholder="Nhập email">
              <div class="alert alert-danger"  role="alert" *ngIf="f.submitted && username.invalid">
                Tài khoản không được để trống
              </div>
            </div>
            <div class="form-group">
              <i class="fa fa-unlock searchIcon2"></i>
              <input type="password" class="form-control search2"  name="password"
                     [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                     placeholder="Nhập mật khẩu" >
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Mật khẩu không được để trống</div>
                <div *ngIf="password.errors.minlength">
                  Mật khẩu tối thiểu 6 ký tự
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success" style="width: 150px">Đăng nhập</button>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isLoginFailed"
              >
                Đăng nhập thất bại: {{ errorMessage }}
              </div>
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isLoggedIn">
            Bạn đã đăng nhập với quyền {{ roles }}.
          </div>
        </div>
        <div class="col-12 forgot">
          <a href="http://localhost:4200/register">Tạo tài khoản mới</a>
        </div>
        <div class="col-12 forgot">
          <a href="http://localhost:4200/home">Trở về trang chủ</a>
        </div>
      </div>
    </div>
  </div>
</div>
