  label {

    display: block;
    margin-top: 10px;
  }

  .card-container.card {
    max-width: 400px !important;
    padding: 0px 20px 0px 20px;
    color: white;
  }

  .card {
    background-color: #f7f7f7;
    background: url("https://st.quantrimang.com/photos/image/2018/01/10/hinh-nen-4k-4.jpg") no-repeat center center;
    /*padding: 20px 25px 30px;*/
    margin: 0 auto 50px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

/*.intro-header {*/
/*  height: unset !important;*/
/*}*/
/*.intro-2 {*/
/*  background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg")no-repeat center center;*/
/*  background-size: cover;*/
/*}*/
/*.view {*/
/*  height: 100vh !important;*/
/*}*/
/*.top-nav-collapse {*/
/*  background-color: #3f51b5 !important;*/
/*}*/
/*.navbar:not(.top-nav-collapse) {*/
/*  background: transparent !important;*/
/*}*/
/*@media (max-width: 768px) {*/
/*  .navbar:not(.top-nav-collapse) {*/
/*    background: #3f51b5 !important;*/
/*  }*/
/*}*/
/*.rgba-gradient .full-bg-img {*/
/*  background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);*/
/*}*/
/*.full-bg-img {*/
/*  height: 100%;*/
/*}*/
/*.card {*/
/*  background-color: rgba(229, 228, 255, 0.2);*/
/*}*/

/*.md-form .prefix {*/
/*  font-size: 1.5rem;*/
/*  margin-top: 1rem;*/
/*}*/
/*.md-form label {*/
/*  color: #ffffff;*/
/*}*/
/*h6 {*/
/*  line-height: 1.7;*/
/*}*/
/*@media (max-width: 740px) {*/
/*  .full-height,*/
/*  .full-height body,*/
/*  .full-height header,*/
/*  .full-height header .view {*/
/*    height: 1040px;*/
/*  }*/
/*}*/
