<app-cover></app-cover>
<div id="container">
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h3 class="display-5">Sách Mới</h3>
      </div>
      <hr style="margin-right: 5px">
      <span><i class="fa fa-coffee fa-3x"></i></span>
      <hr style="margin-left: 5px">
      <div class="col-12">
        <div class="container-fluid padding" align="center">
          <div class="row">
            <div class="col-md-3" *ngFor="let bookNew of bookList, index as i">
<!--              <div class="card">-->
<!--                <a routerLink="#"><img [src]="bookNew.bookPictures[0].src" ></a>-->
<!--                <div class="card-body">-->
<!--                  <h5 class="card-title">{{bookNew.name}}</h5>-->
<!--                  <p class="card-text">{{bookNew.authors[0].name}}</p>-->
<!--                  <h6 class="card-text">{{bookNew.amount}}</h6>-->
<!--                  <a (click)="addCart(bookNew.id)" class="btn btn-outline-secondary">Add cart</a>-->
<!--                </div>-->
<!--              </div>-->
              <app-book-card [book]="bookNew"></app-book-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
