<div class="col-6 offset-3">
  <h2 class="text-center">Create new Book</h2>
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> You have created a new book
    </div>
    <div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" value="Create new book" (click)="message = !message">
      </div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" value="Back to book list" routerLink="/book-list">
      </div>
    </div>
  </div>
  <form
    *ngIf="!message"
    name="form"
    [formGroup]="bookForm"
    (ngSubmit)="bookForm.valid && onSubmit()"
    novalidate
  >
    <div class="form-group">
      <strong>Book name</strong>
      <input type="text" class="form-control" formControlName="name"/>
      <div class="alert-danger" *ngIf="bookForm.get('name').invalid && bookForm.get('name').touched"
           style="color: red">
        Book name must be at least 1 characters
      </div>
    </div>
    <div class="form-group">
      <strong>Price</strong>
      <input type="number" class="form-control" formControlName="price"/>
      <div class="alert-danger" *ngIf="bookForm.get('price').invalid && bookForm.get('price').touched"
           style="color: red">
        Price is greater than or equal to zero
      </div>
    </div>
    <div class="form-group">
      <strong>Description</strong>
      <textarea class="form-control h-auto" formControlName="description"></textarea>
      <div class="alert-danger" *ngIf="bookForm.get('description').invalid && bookForm.get('description').touched"
           style="color: red">
        Description is required
      </div>
    </div>
    <div class="form-group">
      <strong>Amount</strong>
      <input type="number" class="form-control" formControlName="amount"/>
      <div class="alert-danger" *ngIf="bookForm.get('amount').invalid && bookForm.get('amount').touched"
           style="color: red">
        Price is greater than or equal to zero
      </div>
    </div>

    <div class="form-group">
      <strong>Author</strong>
      <div *ngFor="let author of authors">
          <p>{{author.name}}</p>
      </div>

      <div class="form-inline">
        <div style="padding: 0" class="nav-link dropdown-toggle" id="navbarDropdownSearchAuthor" role="button"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
          <input class="form-control" type="search" placeholder="Search author..." aria-label="Search" #search
                 (focusout)="search.value=''" (keyup)="searchAuthor($event.currentTarget)">
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSearchAuthor">
          <div *ngFor="let author of authorList">
            <a class="dropdown-item" (click)="addAuthor(author.id)">{{author.name}}</a>
          </div>
        </div>
      </div>

    </div>

    <div class="form-group">
      <strong>Language</strong>
      <div *ngFor="let language of languages">
        <p>{{language.name}}</p>
      </div>
      <div class="form-inline">
        <div style="padding: 0" class="nav-link dropdown-toggle" id="navbarDropdownSearchLanguages" role="button"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
          <input class="form-control" type="search" placeholder="Search languages..." aria-label="Search" #search
                 (focusout)="search.value=''" (keyup)="searchLanguages($event.currentTarget)">
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSearchLanguages">
          <div *ngFor="let language of languageList">
            <a class="dropdown-item" (click)="addLanguage(language.id)">{{language.name}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <strong>Category</strong>
      <div *ngIf="category">
        <p>{{category.name}}</p>
      </div>
      <div class="form-inline">
        <div style="padding: 0" class="nav-link dropdown-toggle" id="navbarDropdownSearchCategory" role="button"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
          <input class="form-control" type="search" placeholder="Search category..." aria-label="Search" #search
                 (focusout)="search.value=''" (keyup)="searchCategory($event.currentTarget)">
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSearchCategory">
          <div *ngFor="let c of categoryList">
            <a class="dropdown-item" (click)="addCategory(c.id)">{{c.name}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <strong>Publishing</strong>
      <div *ngIf="publishing">
        <p>{{publishing.name}}</p>
      </div>
      <div class="form-inline">
        <div style="padding: 0" class="nav-link dropdown-toggle" id="navbarDropdownSearchPublishing" role="button"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
          <input class="form-control" type="search" placeholder="Search publishing..." aria-label="Search" #search
                 (focusout)="search.value=''" (keyup)="searchPublishing($event.currentTarget)">
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSearchPublishing">
          <div *ngFor="let publish of publishingList">
            <a class="dropdown-item" (click)="addPublishing(publish.id)">{{publish.name}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <strong>Picture</strong>
      <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" multiple>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="form-group" style="height: 100px">
      <div class="image-preview" *ngIf="previewUrl">
        <div class="float-left" *ngFor="let preview of previewUrl">
          <img [src]="preview" height="100"/><span>x</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">Create</button>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Back to book list" routerLink="/book-list">
    </div>
  </form>
</div>
