<div>
  <h3>Your cart</h3>
  <table class="table table-bordered">
    <tr>
      <th>Book</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    <tr *ngFor="let cart of cartList">
      <td>
        <img width="200px" src="{{cart.book.bookPictures[0].src}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{cart.book.name}}</h5>
        </div>
      </td>
      <td>{{cart.book.price | currency: "VND" : "đ"}}</td>
      <td><input type="number" style="width: 50px" [value]="cart.quantity" name="quantity"
                 (change)="onChangeQuantity($event, cart)"></td>
      <td>{{cart.book.price * cart.quantity | currency: "VND"}}</td>
    </tr>
    <tr>
      <td>Total price</td>
      <td></td>
      <td></td>
      <td id="totalPrice"></td>
    </tr>
  </table>
  <input type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#OrderModal" value="Order" *ngIf="token.getToken()">
  <input type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#OrderModalNoLogin" value="Order" *ngIf="!token.getToken()">
</div>
<div class="modal fade" id="OrderModal" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel"
     aria-hidden="true" *ngIf="token.getToken()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vũ Đại Village </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Please enter delivery information</h3>
        <form class="card" *ngIf="order">
          <div class="form-group">
            <label>Your phone number</label>
            <input  type="text" [value]="order.user.phone" class="form-control" (change)="onChangePhone($event)"
                   pattern="^(0|\+84)(\s|\.)?((3[2-9])|(5[689])|(7[06-9])|(8[1-689])|(9[0-46-9]))(\d)(\s|\.)?(\d{3})(\s|\.)?(\d{3})$">
          </div>
          <div>
            <label>Shipping address</label>
            <input type="text" value="{{order.user.address}}" class="form-control" (change)="onChangeAddress($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createOrder()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="OrderModalNoLogin" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel"
     aria-hidden="true" *ngIf="!token.getToken()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelNoLogin">Vũ Đại Village </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Please enter delivery information</h3>
        <form class="card" *ngIf="order">
          <div class="form-group">
            <label>Your phone number</label>
            <input  type="text" class="form-control" (change)="onChangePhone($event)">
          </div>
          <div>
            <label>Shipping address</label>
            <input type="text" class="form-control" (change)="onChangeAddress($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SaveOrderModalNoLogin" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="SaveOrderModalNoLogin" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel"
     aria-hidden="true" *ngIf="!token.getToken()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleSaveModalLabelNoLogin">Vũ Đại Village </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Would you like to save the account for later purchase?</h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createOrder()">No</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="createUser()">Yes</button>
      </div>
    </div>
  </div>
</div>
